<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Products</h1>
  </div>

  
  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  <% end %>
<br>

  <% if current_user && current_user.admin %>
    <p><%= link_to "Add new product", new_product_path %></p>
  <% end %>
  <p><%= link_to "Return to main menu", "/" %></p>

  </div>
</div>

